@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* xs =  @media (max-width: 475px) */
@layer base {
  html {
    font-family: "Poppins", sans-serif;
    @apply py-5 px-20 xs:p-0;
  }
}

/* Input date */
[type="datetime-local"] {
  /* background: transparent url(../assets//icons/calendar.png) 97% 50% no-repeat;
  background-size: 14px; */
  background: transparent;
  color: #7A7F83;
  border: none;
}

[type="datetime-local"]::-webkit-inner-spin-button {
  display: none;
}

[type="datetime-local"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}